:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height:100%;
}

body{
  background-color: rgb(21, 19, 22);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex:1;
  display: flex;
  position: relative;
}

#gameCanvas{
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
}

header{
  color: aliceblue;
}

.score-modal{
  display: none;
  width: 25%;
  height: 20%;
  background-color: rgb(73, 176, 217);
  margin-right:auto;
  margin-left: auto;
}

.modal-text{
  color: white;
  font-size: x-large;
  text-align: center;
  padding-top: 10%;
}

.pause-modal{
  position: absolute;
  width: 15%;
  height: 15%;
  right: 42%;
  bottom: 43%;
  z-index: 10;
  border-radius: 15px;
  background-color: rgba(35, 66, 92, 0.815);
  display: none;
  flex-direction: column;
  align-items: center;
}

.pause-modal p {
  color: aliceblue;
  font-size: larger;
  font-weight: 500;
  text-align: center;
  padding: 20px;
}

.pause-modal button{
  padding: 10px;
  width: 25%;
  background-color: rgba(21, 21, 26, 0.658);
  border: none;
  color: rgb(216, 224, 231);
  border-radius: 10px;
}

#score{
  background-color: rgb(44, 198, 225);
  position: absolute;
  right: 45%;
  bottom: 10%;
  padding: 20px;
}